 - DONE jump to built in func docs
 - DONE Syntax highlighting
 - DONE linting
 - DONE auto formatting
 - DONE code completion
 - DONE jump to def
 - DONE view method sig
 - DONE indentation lines
 - DONE speed up tabbed suggestions
 - DONE code snippets
 - Only load Node/JS snippets
 - run commands on start e.g. test watcher
 - list funcs (outline)
 - re-open split pane arrangement
